@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   background: linear-gradient(45deg, #8e2de2, #4a00e0);
   background-repeat: no-repeat;
   min-height: 100vh; /*Altura minima da página*/
   min-width: 10vw; /*Largura minima da página*/
   display: flex;
   align-items: center;
   justify-content: center; /*Vai a body no centro da dela*/
}

main.container{
   background: white;
   max-width: 350px;
   min-height: 40vh;
   padding: 2rem;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
   border-radius: 8px;
}

main h2{
   font-weight: 600;
   margin-bottom: 2rem;
   position: relative; /*So conseguirmos usar a posicao absolute, se o elemento pai for relative*/
}

main h2::before{
   content: '';
   position: absolute;
   height: 4px;
   width: 25px;
   bottom: 4px;
   left: 0;
   border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.input-field{
   position: relative;
}

.input-field input {
   outline: none; /*Tira a bordar de quando clicamos no formulario*/
   font-size: 0.9rem;
   color: rba(0, 0, 0, 0.7);
}

input.input-field input::placeholder{ /*Esse css aqui vai pegar aquela letrinha que fica dentro no fomulario*/
   color: rba(0, 0, 0, 0.5);
}

form input[type="submit"] {
   margin-top: 2rem;
   padding: 0.4rem;
   background: linear-gradient(to left, #4776e6, #8e54e9);
   cursor: pointer;
   color: white;
   font-size: 0.9rem;
   font-weight: 300;
   border-radius: 4px;
   transition: all 0.3s ease;
}
